div.loading-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

div.loading-text-container{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

div.playlist-container{
  display: flexbox;
}

div.track-element {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}