div.loading-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

div.loading-text-container{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

div.playlist-container{
  display: flexbox;
}

div.track-element {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.float-container {
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  padding-top: 0;
}  